# Rename me to vopaas_secrets.yml
secrets:
  plugins:
    google:
      client_id:  
      client_secret: 
    saml2sp_backend:
      organization:
       display_name: GEANT VOpaas
       name: GEANT
       url: https://www.geant.org
      contact_person: 
       technical:
        email: technical@example.org
        given_name: "Tech Support"
       support:
        email: support@example.org
        given_name: "End user Support"
      metadata:
        ocal: 
        - "/home/ubuntu/vopaas/metadata/remote/entities.xml"
        remote:
        - url: "https://engine.connect.surfconext.nl/authentication/idp/metadata"
