#--- SATOSA Config ---#
BASE: "https://{{ hostname }}"
INTERNAL_ATTRIBUTES: "{{ proxy_dir }}/internal_attributes.yaml"
COOKIE_STATE_NAME: "VOPAAS_STATE"
STATE_ENCRYPTION_KEY: ""
PLUGIN_PATH:
  - "{{ frontend_plugin_dir }}"
  - "{{ backend_plugin_dir }}"
BACKEND_MODULES:
  - "saml_backend"
  - "oidc_backend"
  - "google_backend"
  - "fb_backend"
FRONTEND_MODULES:
  - "saml_frontend"
MICRO_SERVICES:
  - "statistics_service.yaml"
USER_ID_HASH_SALT: ""
CONSENT:
  enable: Yes
  service.rest_uri: ""
  service.consent_redirect: ""
  endpoint: "handle_consent"
  sign_key: "{{ proxy_jwt_signing_key }}"
  state_enc_key: ""
  verify_ssl: No
ACCOUNT_LINKING:
  enable: No
  rest_uri: ""
  redirect: ""
  endpoint: "handle_account_linking"
  sign_key: "{{ proxy_jwt_signing_key }}"
  verify_ssl: No
LOGGING:
  version: 1
  formatters:
    standard:
      format: "[%(asctime)-19.19s] [%(levelname)-5.5s]: %(message)s"
  handlers:
    default:
      level: "INFO"
      class: "logging.FileHandler"
      filename: "vopaas.log"
      formatter: "standard"
  loggers:
    satosa:
      handlers: ["default"]
      level: "INFO"
      propagate: Yes
    vopaas:
      handlers: ["default"]
      level: "INFO"
      propagate: Yes
    saml:
      handlers: ["default"]
      level: "WARN"
      propagate: Yes
    oic:
      handlers: ["default"]
      level: "WARN"
      propagate: Yes
