#!/usr/bin/env python
# -*- coding: utf-8 -*-
import os.path

from satosa.plugin_base.endpoint import BackendModulePlugin
from vopaas.backends.oauth_backend import VOPaaSOFacebookBackend

XMLSEC_PATH = '/usr/local/bin/xmlsec1'


def full_path(local_file):
    basedir = os.path.abspath(os.path.dirname(__file__))
    return os.path.join(basedir, local_file)


PROVIDER = "facebook"
MODULE = VOPaaSOFacebookBackend


class FacebookPlugin(BackendModulePlugin):
    def __init__(self, base_url):
        module_base = base_url
        config = {
            "base_url": module_base,
            "authz_page": PROVIDER,
            "client_config": {"client_id": ""},
            "server_info": {
                "authorization_endpoint": "https://www.facebook.com/dialog/oauth",
                "token_endpoint": "https://graph.facebook.com/v2.5/oauth/access_token"
            },
            "response_type": "code",
            "client_secret": "",
            "state_cookie_name": "facebook_backend",
            "encryption_key": "",
            "state_key": "",
            "state_encryption_key": "",
            "verify_accesstoken_state": False,
            "fields": ["id", "name", "first_name", "last_name", "middle_name", "picture",
                       "email", "verified", "gender", "timezone", "locale", "updated_time"],
            "op_info": {
                "contact_person": [
                    {
                        "contact_type": "technical",
                        "given_name": "Test",
                        "sur_name": "FACEBOOK",
                        "email_address": ["technical@example.com", "support@example.com"],

                    }, {
                        "contact_type": "support",
                        "given_name": "Support",
                        "email_address": ["support@example.com"]
                    },
                ],
                "organization": {
                    "display_name": [("OP Facebook Identities", "en")],
                    "name": [("En facebook test-OP", "se"), ("A facebook test OP", "en")],
                    "url": [("http://www.facebook.com", "en"), ("http://www.facebook.se", "se")],
                },
                "ui_info": {
                    "display_name": [("OP - FACEBOOK - TEST", "en")],
                    "description": [("This is a facebook test OP", "en")],
                    "logo": [
                        {
                            "url": "",
                            "width": "120",
                            "height": "60",
                            "lang": "en"
                        }
                    ],
                },
            }
        }
        super(FacebookPlugin, self).__init__(MODULE, PROVIDER, config)
