server {
    listen {{ nginx_port }} ssl;
    ssl_certificate {{ nginx_ssl_cert }};
    ssl_certificate_key {{ nginx_ssl_key }};
    server_name {{ nginx_hostname }};

#    location / {
#        proxy_set_header Host $host;
#        proxy_pass http://{{ proxy_hostname }}:{{ proxy_port }};
#    }


    keepalive_timeout 5;

    # path for static files
    root {{ www_dir }};

    location /metadata/sp {
      # points to sp metadata file
     
      # allow directory browsing
      autoindex on;
    }

    location /metadata/idps {
      # points to idps metadata files
     
      # allow directory browsing
      autoindex on;
    }

    location / {
      # checks for static file, if not found proxy to app
      try_files $uri @proxy_to_app;
    }

    location @proxy_to_app {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      # enable this if and only if you use HTTPS
      proxy_set_header X-Forwarded-Proto https;
      #proxy_set_header Host $http_host;
      # we don't want nginx trying to do something clever with
      # redirects, we set the Host: header above already.
      proxy_redirect off;
      proxy_pass http://app_server;
    }

#    error_page 500 502 503 504 /500.html;
#    location = /500.html {
#      root {{ www_dir }};
#    }
}
